<!doctype html>
<html lang="" ng-app="app">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Financial times</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
            
            <link rel="stylesheet" href="~/lib/angular-chart.js/dist/angular-chart.css">
        </environment>
    </head>
    <style>
       body {
            height:100%;
            width:100%;
            background-color: #7ea7d8;
            background-color: #5b9c64;
            font-family: arial, sans-serif;
            }
    </style>
    <body class="img_responsive">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a asp-controller="MonthFinance" asp-action="Index" class="navbar-brand">Financial times</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li role="presentation"><a href="#">Messages <span class="badge">3</span></a>
                    </ul>
                </div>
            </div>
        </div>
        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js"></script>
            
            
        </environment>
        <div  class="container body-content">
            @RenderBody()
            <hr />
            <footer>
            </footer>
        </div>

        
        <environment names="Staging,Production">
            <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js">
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js"></script>
            <!--<script src="~/js/Angular/finance.js"></script>-->
            <script src="~/lib/chart.js/chart.js"></script>
            <script src="~/lib/angular-chart.js/dist/angular-chart.js"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
