@model ItemModel

<h3>@Model.Name</h3>
<div>
    Hello Word!!!!!! i don't belive!!asd'
    No tuve que grabar!
</div>
<img src="https://mayracabrera.files.wordpress.com/2012/02/alf.jpg"> </img>

<a asp-controller="Item" 
    asp-action="save">Register</a>
