<div class="row">
  @using (Html.BeginForm("Save", "MonthFinance", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
  {
    <div class="col-md-4 col-xs-12">
      <div class="panel panel-primary">
      <div class="panel-heading">Earning</div>
        <div class="panel-body">
          <div ng-controller="MonthFinanceController">
              <table>
                  <thead>
                      <tr>
                          <th>Description</th>
                          <th>How much?</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="earning in earnings">
                              <td>{{earning.Name}}</td>
                              <td>{{earning.HowMuch}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
      </div>  
    </div>            
    <div class="col-md-4 col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading">Dents</div>
          <div class="panel-body">
          </div>
      </div>
    </div>
    <div  class="col-md-4 col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading">Inversiones</div>
        <div class="panel-body">
          This page is temporarily disabled by the site administrator for some reason.<br> 
          <a href="#">Click here</a> to enable the page.
        </div>
      </div>
    </div>            
  }
</div>
<!--<div class="row" ng-controller="LineCtrl">
  <div class="panel">
    <div class="panel-body">
      <canvas id="line" class="chart chart-line" chart-data="data"
        chart-labels="labels" chart-legend="true" chart-series="series"
        chart-click="onClick">
      </canvas>    
    </div>
  </div>-->
</div>

@section scripts{
  <script>
     (function () 
     {
       
      //   angular.module("app", ["chart.js"]).controller("LineCtrl", function ($scope) {

      //   $scope.labels = ["January", "February", "March", "April", "May", "June", "July"];
      //   $scope.series = ['Ingresos', 'Gastos', 'Inversiones'];
      //   $scope.data = [
      //     [13000, 13000, 20000, 18000, 22000, 13000, 13000],
      //     [3000, 3000, 3000, 9000, 3000, 5000, 7000],
      //     [3000, 5000, 8000, 12000, 16000, 18000, 12000]
      //   ];
      //   $scope.onClick = function (points, evt) {
      //     console.log(points, evt);
      //   };
      // });
      
        var app = angular.module('app', ['ngRoute']);
        var earningServices = angular.module('earningServices', ['ngResource']);
 
        earningServices.factory('Earnings', ['$resource',
          function ($resource) {
              return $resource('/MonthFinance/GetEarning', {}, {
                  query: { method: 'GET', params: {}, isArray: true }
              });
          }]);
    
        // app.controller('MonthFinanceController', function($scope, Earnings) {
        //     $scope.earnings = Earnings.query();
        // });
        
        app.controller('MonthFinanceController', function($scope, $http){
          var url = "MonthFinance/GetEarning";

      $http({
        method: 'GET',
        url: url}).then(function (response) {
         $scope.earnings = response.data;
      });
        
        });
 
        // MonthFinanceController.$inject = ['$scope', 'Earnings'];
 
    })();
  </script>
  
}


<!--<div ng-controller="TodoListController as todoList">
      <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
      [ <a href="" ng-click="todoList.archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>
        </li>
      </ul>
      <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>-->