<div class="row">
  <div ng-view></div>
</div>
    
                
    
    
<div class="row" ng-controller="LineCtrl">
  <div class="panel">
    <div class="panel-body">
      <canvas id="line" class="chart chart-line" chart-data="data"
        chart-labels="labels" chart-legend="true" chart-series="series"
        chart-click="onClick">
      </canvas>    
    </div>
  </div>
</div>

