  <div ng-controller="MonthFinanceController as monthfinance">
      <div class="col-md-4 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">Earning</div>
            <div class="panel-body">
              <div>
                  <table>
                      <thead>
                          <tr>
                              <th>Description</th>
                              <th>How much?</th>
                              <th><a href="#/new"><i class="glyphicon glyphicon-plus"></i></a></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="earning in monthFinances.Earning.ListItemsEarningModel">
                                  <td><input type="text" name="select_{{$index}}" ng-model="earning.Name"></td>
                                  <td><input type="text" aria-labelledby="select_{{$index}}" ng-model="earning.HowMuch"></td>
                                  <td><a><i class="glyphicon glyphicon-pencil"></i></a></td>
                          </tr>
                          <tr><button ng-click="addEarning()">add</button></tr>
                          <tr><button ng-click="save()">add</button></tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>  
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading">Dents</div>
          <div class="panel-body">
              <div>
                <table>
                  <thead>
                      <tr>
                          <th>Description</th>
                          <th>How much?</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="expense in monthFinances.Expense.ListItemsExpenseModel">
                                  <td><input type="text" name="select_{{$index}}" ng-model="expense.Name"></td>
                                  <td><input type="text" aria-labelledby="select_{{$index}}" ng-model="expense.HowMuch"></td>
                                  <td><a><i class="glyphicon glyphicon-pencil"></i></a></td>
                          </tr>
                          <tr><button ng-click="addExpense()">add</button></tr>
                  </tbody>
                </table>
              </div>
          </div>
      </div>
    </div>
      <div class="col-md-4 col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading">Investment</div>
          <div class="panel-body">
              <div>
                <table>
                  <thead>
                      <tr>
                          <th>Description</th>
                          <th>How won?</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="investment in monthFinances.Investment.ListItemsInvestmentModel">
                                  <td><input type="text" name="select_{{$index}}" ng-model="investment.Name"></td>
                                  <td><input type="text" aria-labelledby="select_{{$index}}" ng-model="investment.HowMuch"></td>
                                  <td><a><i class="glyphicon glyphicon-pencil"></i></a></td>
                          </tr>
                          <tr><button ng-click="addInvestment()">add</button></tr>
                  </tbody>
                </table>
              </div>
          </div>
      </div>
    </div>            
   </div>