<div ng-controller="moviesController">
    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>How much?</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="movie in movies">
                    <td>{{earning.Name}}</td>
                    <td>{{earning.HowMuch}}</td>
            </tr>
        </tbody>
    </table>
</div>



