<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <AppSettings>
        <add key="endpoint" value="https://finance.documents.azure.com:443/"/>
        <add key="authKey" value="UbsNDDZxzZ4ouh6h1OqOFCPrACY4lQEzCQ6bsvXR/0OIMmse9lJeGm0WsrpEZa1nQl+jyeQ+6NLcZ3uPQn1Z1w=="/>
        <add key="database" value="ToDoList"/>
        <add key="collection" value="Items"/>
    </AppSettings>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false"/>
  </system.webServer>
</configuration>
